.navbar-right {
    padding-right: 2%;
}

.fa {
    padding-right: 10px;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.welcome_view {
    text-align: center;
}

.rounded-circle {
    border-radius: 140px;
}
.products_collection {
    margin-top: 150px;
    text-align: center;
}