/* main page */

#cover {
    height: 100%;
    background: url("https://images.unsplash.com/photo-1484712401471-05c7215830eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64a2622330a7ea8f0e1e73d32b8afa9d&auto=format&fit=crop&w=1050&q=80") center;
    background-size: cover;
    color: white;
    padding-bottom: 45%;
}

.fa {
    padding-right: 10px;
}

.nav_minim {
    background-color: rgba(114, 200, 204, 0.23);
}
.nav_minim_right {
    margin-top: 18px;
    text-align: right;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.nav_minim_left {
    margin-top: 25px;
    text-align: left;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.nav_minim_fredoka {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}

.welcome_view {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.rounded-circle {
    border-radius: 140px;
}

.products_collection {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    line-height: 8px;
    text-align: center;
}

.products_spaced {
    margin-top: 80px;
    line-height: 8px;
    text-align: center;
}

.products_prix {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.form-control {
    font-family: 'Raleway', sans-serif;
    width: 50px;
    display: inline;
}

.variété_title {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px;
}

.variété_headers {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.panier_button {
    text-align: right;
    padding-bottom: 100px;
}

.panier_button>a {
    font-family: 'Raleway', sans-serif;
    background-color: #279499;
    border: none;
    transition: 0.2s;
}

.panier_button>a:hover {
    font-family: 'Raleway', sans-serif;
    background-color: #72C8CC;
    border: none;
    transition: 0.2s;
}

.footer {
    font-family: 'Raleway', sans-serif;
    background-color: #333;
    color: #9d9d9d;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.text-white {
    color: white;
}

/* ////////////// panier mage \\\\\\\\\\\\\\\\ */

.variété_img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

.panier_img_container {
    text-align: center;
}

.variété_panier {
    font-size: 24px;
    padding-top: 10px;
}

.font_panier {
    font-family: 'Raleway', sans-serif;
}

.panier_spaced {
margin-top: 0px;
}

.panier_img_alligned {
    font-size: 21px;
    padding-top: 10px;
}

/* inscription page */

.login_spaced {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;
}

.button1_spaced {
    text-align: center;
    margin-top: 10px;
}

.button2_spaced {
    text-align: center;
    margin-top: 20px;
}

.inscription_spaced {
    text-align: center;
    margin-top: 20px;
}

.form-control {
    width: 180px;
}