.navbar-right {
    padding-right: 2%;
    margin-bottom: 0;
}

.navbar{
    margin-bottom: 0;
}

#cover {
    height: 100%;
    background: url("https://images.unsplash.com/photo-1484712401471-05c7215830eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64a2622330a7ea8f0e1e73d32b8afa9d&auto=format&fit=crop&w=1050&q=80") center;
    background-size: cover;
    color: white;
    padding-bottom: 45%;
}

.fa {
    padding-right: 10px;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.welcome_view {
    text-align: center;
}

.rounded-circle {
    border-radius: 140px;
}

.products_collection {
    margin-top: 150px;
    line-height: 8px;
    text-align: center;
}

.products_spaced {
    margin-top: 80px;
    line-height: 8px;
    text-align: center;
}

.products_prix {
    font-size: 18px;
}

.form-control {
    width: 50px;
    display: inline;
}

.variété_title {
    padding-bottom: 10px;
}

.variété_headers {
    text-align: center;
}

.panier_button {
    text-align: right;
    padding-bottom: 100px;
}

.footer {
    background-color: #333;
    color: #9d9d9d;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
